<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ziyi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ziyi.Properties.Settings>
            <setting name="DefaultDictionaryFile" serializeAs="String">
                <value>dictionary.en.xml</value>
            </setting>
            <setting name="RepeatInitialDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RepeatRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForceTopmostRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardLastUsedFile" serializeAs="String">
                <value>kbd.xml</value>
            </setting>
            <setting name="WordCompleteEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddSpaceOnTextSimulation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForceTopmostOnActiveWindowChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewWordAdditionTheshold" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SaveDictionaryOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAeroGlass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeyboardLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableTypingSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrimaryInputTrigger" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="SecondaryInputTrigger" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="ThemeLastUsedFile" serializeAs="String">
                <value />
            </setting>
        </Ziyi.Properties.Settings>
    </userSettings>
</configuration>